{% extends 'base.html.twig' %}

{% block title %}nouveau
{% endblock %}

{% block body %}
	<h1>Nouveau Personnel</h1>
	<div class="col-lg-4" style="background: rgba(0,0,0,0.6);margin-top:100px ; padding-top:1em;padding-bottom:3em;color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
																-moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
																box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); margin-left:auto; margin-right: auto; ">

		<form method="POST">
			<fieldset class="form-group">

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

			</fieldset>

			<div class="form-group">
				<button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>
				{{ form_end(registrationForm) }}
			</div>
		</form>

	</div>

{% endblock %}
